<h3 class="center-align">Students Directory</h3>

<div class="row">
  <% @students.each do |student| %>
    <div class="col s12 m4">
      <div class="card blue-grey darken-1">
        <div class="card-content white-text">
            <i class="large material-icons">account_box</i> 
            <span class="card-title">Email: <%= student.email %></span>
            <strong>Course Enrollments:</strong>
          
            <% if student.courses.exists? %>
                <% student.courses.each do |course| %>
                    <p><i class="tiny material-icons">keyboard_arrow_right</i> <%= course.name %></p>
                <% end %>
            <% else %>
                <p><i>No Course enrolled</i></p>
            <% end %>
        </div>
      </div>
    </div>
  <% end %>
</div>
