<h3 class="center-align">My Profile</h3>

<div class="row">
  <div class="col s12 m4"></div>
  <div class="col s12 m4">
    <div class="card blue-grey darken-1">
      <div class="card-content white-text">
          <i class="large material-icons">account_box</i> 
          <span class="card-title">Email: <%= @student.email %></span>
          <strong>Course Enrollments:</strong>
        
          <% if @student.courses.exists? %>
              <% @student.courses.each do |course| %>
                  <p><%= course.name %></p>
              <% end %>
          <% else %>
              <p><i>No Course enrolled</i></p>
          <% end %>
      </div>
    </div>
    
    <%= link_to 'Edit Profile', edit_user_registration_path(@student), class: "waves-effect waves-default btn" %>
    
  </div>
</div>
