@import 'materialize-css/dist/css/materialize';

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

.p-top {
    padding-top: 10px;
}

.alert {
    margin-top: 10px;
    padding: 20px;
    background-color: #28B4A5;
    color: white;
    border-radius: 10px;
}

.closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}

.closebtn:hover {
    color: black;
}

.index-card-content {
    height: 250px;
}
