<h3 class="center-align">Course Listings</h3>

<% if current_user %>
  <%= link_to 'Create New Course', new_course_path, class: "btn" %>
<% end %>

<div class="row">
  <% @courses.each do |course| %>
    <div class="col s12 m6">
      <div class="card blue-grey darken-1">
        <div class="card-content white-text index-card-content">
          <span class="card-title"><%= course.code %> <br> <%= course.name %></span>
          <p><%= truncate(course.description, :length => 480) %></p>
        </div>
        <div class="card-action">
          <% if current_user && !current_user.is_enrolled?(course.id) %>
            <%= link_to "ENROLL", enroll_path(course_id: course.id), method: :post %>
          <% end %>
          <%= link_to "INFO", course %>
        </div>
      </div>
    </div>
  <% end %>
</div>

<br>

