<p id="notice"><%= notice %></p>

<div class="row">
  <div class="col s12 m12">
    <div class="card blue-grey darken-1">
      <div class="card-content white-text">
        <span class="card-title center-align"><%= @course.code %> <br> <%= @course.name %></span>
        <p><%= @course.description %></p>
      </div>
      <div class="card-action">
        <% if current_user %>
          <%= link_to "EDIT", edit_course_path(@course) %>
          <% if !current_user.is_enrolled?(@course.id) %>
            <%= link_to "ENROLL", enroll_path(course_id: @course.id), method: :post %>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>
            
<%= link_to 'Back', courses_path, class: "waves-effect waves-default btn" %>
