<% if notice %>
    <div id="notice" class="alert">
      <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span> 
      <%= notice %>
    </div>
<% elsif alert %>
    <div id="notice" class="alert">
      <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span> 
      <%= alert %>
    </div>
<% end %>

