
<nav>
  <div class="nav-wrapper">
    <%= link_to "Tech University ", root_path, class: "brand-logo right" %>
    <ul id="nav-mobile" class="left hide-on-med-and-down">
      <li><%= link_to "Courses", courses_path %></li>
      <li><%= link_to "Students", students_path %></li>
      
      <% if current_user %>
        <li>
          <a class="dropdown-trigger" href="#!" data-target="dropdown1">
            <%= current_user.email %>
            <i class="material-icons right">arrow_drop_down</i>
          </a>
          <ul id="dropdown1" class="dropdown-content">
            <li><%= link_to "My Profile", student_path(current_user) %></li>
            <li class="divider"></li>
            <li><%= link_to "Sign out", destroy_user_session_path, method: :delete %></li>
          </ul>
        </li>
      <% else %>
        <li><%= link_to "Sign in", user_session_path %></li>
        <li><%= link_to "Sign up", new_user_registration_path %></li>
      <% end %>
    </ul>
  </div>
</nav>